* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --border-radius: 10px;
}

body {
    background-color: #C0C0C0;
}



header {
    display: flex;
    padding: 0 4rem;
    position: relative;
}
header h1 {
    align-items: center;
    border-radius: 8px;
    background: linear-gradient(to right, #dc3545, #212529);
    color: transparent;
    flex: 1;
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1rem;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);
    -webkit-background-clip: text; 
}
header a img {
    left: 4rem;
    margin-top: 1.5rem;
    position: absolute;
    width: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
}
.container .paginacion{
  display: flex;
  align-items: center;
}
.container .paginacion button{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    color: blue;
    background-color: rgb(173, 51, 51);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: var(--border-radius);
}
.container .paginacion span{
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
    color: black;
}
.container .cargar{
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
    color: blue;
    background-color: rgb(173, 51, 51);
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: var(--border-radius);
}
.container .cargar:hover{
    background-color: yellow;
}

.lista {
    width: 400px;
    background: rgb(182, 182, 182);
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
}

.container {
    align-items: center;
}

.prueba {
    margin: 3px;
}

.container input {
    margin: 0.4rem;
    width: 18rem;
}

.container ul li label {
    color: white;
    text-align: center;
}

.container ul li button {
    width: 80px;
}

.container ul li .span1 {
    background: black;
    margin: 1%;
    padding: 1%;
    text-align: center;
    width: 19rem;
}

.container ul li .span2 {
    display: flex;
}

.container input {
    background-color: black;
    border: darkgoldenrod;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
}

.container .cargar {
    width: 7rem;
    margin: 1rem;
}

.prueba{

}


@media(min-width: 412px) and (max-width: 916px){
    .container .paginacion{
        height: 5rem;
    }
  .container .paginacion .prev{
    background-image: url(../IMAGENES/flecha-izquierda.png);
    background-color: rgb(139, 130, 130);
    background-size: cover;
    background-repeat: no-repeat;
    width: 7rem; /* Ancho del enlace */
    height: 5rem; /* Altura del enlace */
    color: transparent;
    width: 4.4rem;
    height: 1.6rem;
  }
  .container .paginacion .next{
    background-image: url(../IMAGENES/flecha-derecha.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 7rem; /* Ancho del enlace */
    height: 5rem; /* Altura del enlace */
    color: transparent;
    width: 4.4rem;
    height: 1.6rem;
  }
  header .home img{
    margin-left: -3rem;
  }
}