* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  .content-section2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: #e3891b;
  }